
    body{
     text-align: center;
      margin-top: 20px;
      background-image: url('./bgd.jpg');
      background-size: cover;
      background-repeat: no-repeat;

     
    }
    h1{
      margin-top: 20px;
      color: gold;
    }
    #search{
      border-radius: 10px;
      background-color: powderblue;
      border-color: gold;
    }

    #reset{
      border-radius: 10px;
      background-color: palegreen;
      border-color: gold;
    }

    input{
      border-radius: 10px;
      border-color: tomato;
      padding-left: 5px;
      margin-top: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
  
    }
    #description{
      text-transform: capitalize;
    }
    
    #weather-box{
      margin-top: 25px;
    }

    h3, h2{
      color: white;
    }
  